{% extends "layout.html" %}
{% block content %}
  <h1>Hi
    {% if g.user %}
    {{ g.user['username'] }}!
    {% else %}
    there!
    {% endif %}

    Welcome to StockSim!</h1>
  <br>
  <h3>What is StockSim?</h3>
  <p>StockSim is a stock portfolio site that uses real-time stock market data. As this site does not use real money, this site can be used to test your investing skills!</p>
  <br>
  <h3>How was StockSim made?</h3>
  <p>StockSim is made primarily using Python and Flask. It uses the FinnHub API for real-time stock data.</p>
  <br>
  <h3>Cool Features</h3>
  <ul>
    <li>Password Hashing</li>
    <li>Realtime Stock Data</li>
  </ul>
  <br>
{% endblock %}
